.main{
    margin: 10px;
}
.server-list{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-bottom: 10px;
}

.server-item{
    border: purple 1px solid;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-radius: 3px;
}

.task-list{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-bottom: 10px;
}

.task-item{
    border: purple 1px solid;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

    background: linear-gradient(to right, purple 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all 20s linear;
    border-radius: 3px;
}
.active{
    /* color:white; */
    background-position: left bottom;
}

.label{
    font-size: 1.4em;
    margin-bottom: 20px;
}


button{
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid purple;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:purple;
    text-align:center;
    transition: all 0.2s;
    background-color: #f0e4f0f7;
    border-radius: 3px;
}
button:hover{
    color:#f0e4f0f7;
    background-color:purple;
}